@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

*{
    font-family: 'Noto Sans KR', sans-serif;
}


body {
    margin-left: 0;
    margin-top: 0;
    background: url("../../static/picture/image1.jpg") no-repeat;
    background-size: cover;
}


input,button {
    width: 340px;
    height: 40px;
    font-size: 1.5rem;
    border: solid 1.5px #6ab3e4;
    border-radius: 2px;
    margin-top: 1rem;
}

input{
    background-color: rgba(255, 255, 255, 0.1);
}

button{
    font-weight: 100;
    width: 170px;
    height: 50px;
    background-color: #3498db;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 100;
}



.loginForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 300px;
    margin-top: 3rem;
    button {
        transition: all 0.4s;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;

        &:hover{
            cursor: pointer;            
        }
    }
}

.logo {
  width: 130px;
  height: 140px;
  background: url('../../static/picture/logo.JPG') no-repeat;
  margin-left: 46%;
  background-size: cover;
  margin-top: 4rem;
}